div {
    align-items: center;
}

table {
    border: 1px black solid;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

th {
    border: 1px solid black;
    padding: 8px;
}

tr {
    border-bottom: 1px solid black;
}

td {
    border-right: 1px solid black;
    padding: 8px;
}